
@font-face{
    font-family: 'Yekan';
    src : url('fonts/Yekan.woff');
}
*{
    font-family: 'Yekan';
    box-sizing: border-box; 
}
body{
    padding: 0;
    margin: 0;
    width: 8000px;
    overflow-x: hidden;
}
h1{
    position: relative;
    right: 550px;
    width: 400px;
    margin: 0;
    padding: 0;
}

.box{
    width: 650px;
    height: 300px;
    background-color: rgb(1, 4, 31);
    position: relative;
    right: 380px;
    top: 100px;
    border-radius: 20px;
    margin: 10px 0;
}
.array{
    display: flex;
}
.paragraph{
    position: relative;
    top: 100px;
    right: 10px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.74);
}
.inputs{
    width: 80px;
    height: 50px;
    position: relative;
    right: 38px;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.863);
    margin: 0 10px;
    font-size: 30px;
    color: rgb(255, 5, 42);
    font-weight: bold;
    text-align: center;
}
.down{
    width: 80px;
    height: 50px;
    position: relative;
    right: 58px;
    top: 80px;
    background-color: rgba(255, 255, 255, 0.863);
    margin: 0 10px;
    font-size: 30px;
    color: rgb(255, 5, 42);
    font-weight: bold;
    text-align: center;
}
.second{
    display:flex;
}
.bracket{
    color: white;
    position: relative;
    right: 60px;
    font-size: 100px;
    bottom: 45px;
    font-weight: lighter;

}
.bracketi{
    color: black;
    position: relative;
    right: 60px;
    font-size: 100px;
    bottom: 45px;
    font-weight: lighter;

}
.twoDimensional{
    width: 500px;
    height: 150px;
    position: relative;
    right: 40px;
    top: 80px;
    background-color: rgba(255, 255, 255, 0.863);
    margin: 0 10px;
    font-size: 30px;
    color: rgb(255, 5, 42);
    font-weight: bold;
    text-align: center;
}
.merge{
    position: relative;
    top: 200px;
}
.mergeTop{
    position: relative;
    right: 600px;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.myParagraph{
    position: relative;
    top: 60px;
    right: 10px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.74);
}
.containers{
    display: flex;
}
.txt{
    font-size: 20px;
    color: white;
    position: relative;
    right: 10px;
}

.boxTwo{
    width: 650px;
    height: 800px;
    background-color: rgb(1, 4, 31);
    position: relative;
    right: 380px;
    top: 100px;
    border-radius: 20px;
    margin: 10px 0;
}
.containers input[type=text]{
    width: 100px;
    height: 50px;
    position: relative;
    right: 20px;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.863);
    margin: 0 10px;
    font-size: 15px;
    color: rgb(25, 2, 129);
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px;
}
.containers input[type=text]:focus{
    border: 1.5px solid  rgba(0, 0, 0, 0.192);
    outline: none;
    box-shadow: 1px 1px 10px rgb(25, 2, 129);
}

.cons{
    background-color: rgba(255, 255, 255, 0.863);
    color: rgb(25, 2, 129);
    width: 400px;
    height: 60px;
    position: relative;
    top: 80px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    padding:0 20px;
}
#button{
    width: 150px;
    height: 50px;
    position: relative;
    right: 250px;
    top: 60px;
    background-color: wheat;
    border: 2px solid  rgba(0, 0, 0, 0.192);
}
#button:hover{
    background-color: rgb(25, 2, 129);
    color: white;
}